@tailwind base;
@tailwind components;
@tailwind utilities;

.main-header {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  background-image: url("/image/primary-bg-img.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

body {
  background-color: #fafafa;
}

